.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar img{
    width: 100px;
    height: 70px;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar ul li a {
    text-decoration: none;
    color: black; /* Set the text color to black */
  }